# Install/import relevant libraries

In [28]:
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer
import pickle
import os
print(os.getcwd())

C:\Users\yiehy\OneDrive\Desktop\cs425-nlc-project\4.Retrival\untuned_distilBERT

# Get embeddings for distilbert

In [2]:
qna_df = pd.read_csv("../../0.Datasets/QnA.csv")

In [3]:
qna_df.head()

,Unnamed: 0,qid,docid,question,answer
0,0,0,18850,What is considered a business expense on a bus...,What is considered a business expense on a bus...
1,1,1,14255,Claiming business expenses for a business with...,Claiming business expenses for a business with...
2,2,2,308938,Transferring money from One business checking ...,Transferring money from One business checking ...
3,3,3,296717,Having a separate bank account for business/in...,Having a separate bank account for business/in...
4,4,3,100764,Having a separate bank account for business/in...,Having a separate bank account for business/in...

In [6]:
qna_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17072 entries, 0 to 17071
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  17072 non-null  int64
 1   qid         17072 non-null  int64
 2   docid       17072 non-null  int64
 3   question    17072 non-null  object
 4   answer      17072 non-null  object
dtypes: int64(3), object(2)
memory usage: 667.0+ KB

In [5]:
model = SentenceTransformer("sentence-transformers/msmarco-distilbert-dot-v5")

C:\Users\yiehy\anaconda3\lib\site-packages\transformers\configuration_utils.py:336: UserWarning: Passing `gradient_checkpointing` to a config initialization is deprecated and will be removed in v5 Transformers. Using `model.gradient_checkpointing_enable()` instead, or if you are using the `Trainer` API, pass `gradient_checkpointing=True` in your `TrainingArguments`.
  warnings.warn(

In [23]:
# split answers to chunks for model to encode
answers_list = qna_df["answer"].tolist()
chunk_size = 10
chunks = [answers_list[i:(i+chunk_size)] for i in range(0, len(answers_list), chunk_size)]

1708

In [24]:
dimension_size = 768 # embedding dimensions from msmarco distilbert documentation
sentence_embeddings = np.empty([0,dimension_size], dtype=np.float32)
for i,chunk in enumerate(chunks):
    if i% chunk_size == 0:
        print(i* chunk_size)
    # stack it to sentence_embeddings numpy array
    sentence_embeddings = np.vstack((sentence_embeddings, model.encode(chunk)))

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000

In [26]:
len(sentence_embeddings)

17072

In [29]:
#save model embeddings
with open("./embeddings.pkl", 'wb') as f:
    pickle.dump(sentence_embeddings, f, pickle.HIGHEST_PROTOCOL)